*.class

# Package Files #
*.war
*.ear

# IDEA files #
*.iws
workspace.xml
tasks.xml
*.iml
ChessStyleAnalysisSoftware.iml

# Compiling files folders #
out/*
target/*
.idea/*
ignore/*

# Temp file #
*~

# Crash logs #
*.log



