<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="form" class="ua.edu.vntu.gui.Form">
        <property name="field" ref="field"/>
        <property name="mover" ref="mover"/>
    </bean>


    <bean id="cells" class="ua.edu.vntu.gui.chessboard.Cells"/>

    <bean id="board" class="ua.edu.vntu.gui.chessboard.Chessboard">
        <property name="cells" ref="cells"/>
    </bean>

    <bean id="field" class="ua.edu.vntu.gui.MainField">
        <property name="chessboard" ref="board"/>
    </bean>

    <bean class="ua.edu.vntu.moving.Mover" id="mover">
        <property name="cells" ref="cells"/>
    </bean>


</beans>